html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

body {
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

header {
    flex: 2;
}

main {
    flex: 9;
}

footer {
    flex: 1
}

h3 {
    width: 100vw;
    overflow-wrap: break-word;
    text-align: center;
}